<component name="libraryTable">
  <library name="spring-4.1.7.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aspects-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-support-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-data-commons-1.10.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-data-jpa-1.8.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-data-mongodb-1.8.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jdbc-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jms-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-messaging-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-orm-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-test-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-tx-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-4.1.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-4.1.7.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>