/**Common Style Begin**/
.gallery-area .gallery-content ol.dots li, .user-fb-area .user-fb-gallery ol.dots li{
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 4px;
    opacity: 0.4;
    text-indent: -999em;
    transition: background 0.5s ease 0s, opacity 0.5s ease 0s;
    width: 10px;
}

.gallery-area .gallery-content ol.dots li.active, .user-fb-area .user-fb-gallery ol.dots li.active{
 background: none repeat scroll 0 0 #FFFFFF;
  opacity: 1;
}
/**Common Style End**/

/**Banner Style Begin**/
.home-banner-area, .banner-content-area,.text-content-area{
    height:423px;
    position:relative;
}
.home-banner-area{
 min-width:980px;
 margin: 0 auto;
 background: url("../images/banner_bg2.jpg") no-repeat fixed center top #C5C4C0;
}

.banner-content-area{
   width:980px;
   margin:0 auto;
}

.text-content-area{
 float:left;
 width: 410px;
}

.text-content-area .head-1{
   width:100%;
   line-height:40px;
   height:40px;
   margin:80px 0px 50px;
}

.text-content-area .head-1 h1{
   font-size:36px;
   font-weight:500;
   color:#FFFFFF;
}

.text-content-area .head-2{
     width:100%;
     min-height:36px;
     line-height:36px;
}

.text-content-area .head-2 span{
   font-size:24px;
   color:#FBFBFB;
   
}

.text-content-area a.head-register{
  display:block;
  margin-top:40px;
  background-color:#47A447;
  width:212px;
  height:61px;
   line-height:61px;
  font-size:23px;
  font-weight:400;
  color: #FFFFFF;
  text-align:center;
  border-radius:4px;
  border: 1px solid #398439;
}

.text-content-area a.head-register:hover, .text-content-area a.head-register:focus{
  background-color:#419641;
}

.gallery-area{
 position:absolute;
 right:0px;
 bottom:0px;
 width:601px;
 height:335px;
 background: url("../images/banner_bg.png") no-repeat bottom center;
}

.gallery-area .gallery-content{
 position:absolute;
 left:71px;
 top:16px;
}

.gallery-area .gallery-content ul{
   width:458px;
   height:300px;
   margin:0px;
   padding:0px;
}
.gallery-area .gallery-content  ul li{
   list-style:none;
    width:458px;
   height:300px;
}

.gallery-area .gallery-content ol.dots{
  position:absolute;
  left:0px;
  bottom:-13px;
  text-align: center;
  margin:0px;
  padding:0px;
  width:100%;
  height:26px;
}

/**Banner Style End**/

/**Home Description Style Begin**/
.home-desc-area{
  position:relative;
  min-width:1012px;
  height:374px;
  background-color:	#FBFBFB;
}

.home-desc-area .desc-content{
   width:1012px;
   height:100%;
   margin:0 auto;
   padding-top:50px;
}

.home-desc-area .desc-content .desc-summary{
   width:100%;
   height:26px;
   line-height: 26px;
   text-align:center;
   margin:0px;
   font-size:24px;
   font-weight:400;
   color:#333333;
}

.home-desc-area .desc-content .desc-unit-area{
	position:relative;
	width:100%;
	height: 348px;
	margin-top:50px ;
}

.home-desc-area .desc-content .desc-unit-area .desc-unit{
	float:left;
	position:relative;
	width:253px;
	height: 208px;
}

.home-desc-area .desc-content .desc-unit-area .desc-unit .desc-unit-icon{
	width:100px;
	height:100px;
	margin:0 auto 20px;
}

.home-desc-area .desc-content .desc-unit-area .desc-unit .desc-unit-icon img{
	width:100px;
	height:100px;
	border-radius:10px;
}

.home-desc-area .desc-content .desc-unit-area .desc-unit .desc-unit-title{
	width:100%;
	height:22px;
	line-height:22px;
	margin-bottom:10px;
	text-align:center;
	color:#333333;
	font-size:20px;
	font-weight:400;
}

.home-desc-area .desc-content .desc-unit-area .desc-unit .desc-unit-content{
	width:220px;
	min-height:25px;
	line-height:25px;
	margin:0 auto;
	font-size:14px;
	color:#999999;
	overflow:hidden;
}

/**Home Description Style End**/

/**Service Intro Style Begin**/
ul.service-intro-wrapper{
	width:80%;
	max-width:960px;
	min-width:931px;
	padding:0px;
	margin:-1px auto 0px;
}

ul.service-intro-wrapper li{
	width:100%;
	height:320px;
	list-style:none;
	overflow:hidden;
	border-top: 1px dashed #D2D4D6;
}

ul.service-intro-wrapper li.odd>div{
	float:left;
}

ul.service-intro-wrapper li.even>div.img-area{
	float:right;
	margin-right:20px;
}

ul.service-intro-wrapper li div.img-area{
    width: 250px;
    height: 250px;
    margin-top: 35px;
    border-radius: 125px;
    overflow:hidden;
}

ul.service-intro-wrapper li div.img-area img{
	width:100%;
	height:100%;
}

ul.service-intro-wrapper li.even>div.desc-area{
	float:left;
}

ul.service-intro-wrapper li div.desc-area{
	width: 640px;
    height: 120px;
    margin:85px auto 0px 20px;
	overflow:hidden;
	line-height:28px;
	font-size:16px;
}

ul.service-intro-wrapper li div.full-intro{
	margin-top:20px;
	height:300px;
}

ul.service-intro-wrapper li div.desc-area a{
	color:#333333;
}
/**Service Intro Style End**/

/**User  Feedback Style Begin**/
.user-fb-area{
	 background: url("../images/div-grey-top.png") no-repeat scroll center top #F4F4F4;
	 min-width:980px;
	 height:460px;
	 border-top: 1px solid 	#E1E1E1;
}

.user-fb-area .user-title{
	width:100%;
	height:26px;
	line-height:26px;
	margin-top:30px;
	font-size:24px;
	color:#333333;
	text-align:center;
}

.user-fb-area  .user-fb-gallery{
	position:relative;;
	width:980px;
	height:200px;
	margin: 25px auto 0px;
	overflow:hidden;
}

.user-fb-area  .user-fb-gallery ul{
	margin:0px;
	padding:0px;
}

.user-fb-area  .user-fb-gallery ul li{
	position:relative;
	list-style:none;
	width:980px;
	height:180px;
}

.user-fb-area  .user-fb-gallery ul li .user-infor{
	float:left;
	width:170px;
	height:91px;
}
.user-fb-area  .user-fb-gallery ul li .user-infor .user-image{
	margin:0 auto;
}
.user-fb-area  .user-fb-gallery ul li .user-infor .user-image, .user-fb-area  .user-fb-gallery ul li .user-infor .user-image img{
	width:45px;
	height:45px;
}

.user-fb-area  .user-fb-gallery ul li .user-infor .user-name , .user-fb-area  .user-fb-gallery ul li .user-infor .user-job{
     width:100%;
     height: 22px;
     line-height:22px;
     text-align:center;
     font-size:16px;
     color: #333333;
}
.user-fb-area  .user-fb-gallery ul li  .user-say{
	float:left;
	margin-top:25px;
	width:780px;
	min-height:38px;
	line-height:38px;
	color:#979797;
	font-size:16px;
}

.user-fb-area  .user-fb-gallery ul li  .user-say .icon{
	 display: inline-block;
	width:18px;
	height:18px;
}

.user-fb-area .user-fb-gallery ol{
	position:absolute;
	width:100%;
	margin:0px;
	padding:0px;
	text-align:center;
	left:0px;
	bottom:30px;
	
}
.user-fb-area .user-fb-gallery ol.dots li{
	border: 2px solid 	#DDDDDD;
}

 .user-fb-area .user-fb-gallery ol.dots li.active{
 background: none repeat scroll 0 0 #DDDDDD;
}

 .user-fb-area  .team-area{
   width: 980px;
   height: 185px;
   margin:0px auto;
 }
 
 .user-fb-area  .team-area .team-title {
   width: 100%;
   height:28px;
   line-height:28px;
   font-size:26px;
   font-weight:400;
   text-align:center;
 }
 
  .user-fb-area  .team-area .team-title a{
     color: #666666;
  }
  
   .user-fb-area  .team-area .team-title a:hover{
    color: #D14836;
   }
   
     .user-fb-area  .team-area ul.team-list{
       margin:20px 0px 0px;
       padding:0px;
       width:100%;
     }
     
      .user-fb-area  .team-area ul.team-list li{
        list-style:none;
        float:left;
        width:25%;
        height:70px;
        line-height:70px;
        text-align:center;
        opacity: 0.6;
      }
      
       .user-fb-area  .team-area ul.team-list li:hover{
           opacity: 0.9;
       }
      
      .user-fb-area  .team-area ul.team-list li img{
        height:50px;
      }
      
      .scope-area{
        position:relative;
        min-width:980px;
        padding-top:39px;
        height:460px;
        background: url("../images/pat.png") repeat scroll center top #58B454;
        color:#FFFFFF;
      }
      
       .scope-area .scope-title{
         width:100%;
         height:26px;
         line-height:26px;
         text-align:center;
         font-size:24px;
         font-weight:400;
       }
       
        .scope-area ul.scope-list{
          margin:50px auto 0px;
          padding:0px;
          width:955px;
          height:279px;
        }
        
         .scope-area ul.scope-list li{
           float:left;
           list-style:none;
           width:25%;
           height:93px;
         }
         
          .scope-area ul.scope-list li div.scope-icon{
             width:100%;
             height:38px;
             text-align:center;
          }
          .scope-area ul.scope-list li div.scope-icon-title{
             width:100%;
             height:32px;
             line-height:32px;
             font-size:16px;
             text-align:center;
          }
          
          .scope-area .scope-summary{
             margin-top:30px;
             width:100%;
             height: 25px;
             line-height:25px;
             font-size:18px;
             text-align:center;
          }
          
          .product-info-area{
            position:relative;
            padding-top:45px;
            min-width:980pfx;
            height: 319px;
            color:#333333;
          }
          
          .product-info-area .product-info-title{
            width:100%;
            height:26px;
            line-height:26px;
            font-size:24px;
            font-weight:400;
            text-align:center;
          }
          
           .product-info-area ul.product-info-list{
             margin: 45px auto 0px;
             padding: 0px;
             width:980px;
             height: 243px;
           }
           
            .product-info-area ul.product-info-list li{
              float:left;
              list-style:none;
              width:25%;
              height:153px;
            }
            
            .product-info-area ul.product-info-list li a{
               color: #666666;
            }
            
            .product-info-area ul.product-info-list li a:hover{
              color:#D14836;
            }
            
            .product-info-area ul.product-info-list li .product-info-icon{
              width:100%;
              text-align:center;
            }
            
            .product-info-area ul.product-info-list li .product-info-title{
              width:100%;
              height:22px;
              line-height:22px;
              font-size:20px;
              font-weight:400;
              text-align:center;
            }
            
             .product-info-area ul.product-info-list li .product-info-content{
                width:100%;
                height:21px;
                line-height:21px;
                font-size:14px;
                text-align:center;
             }
/**User  Feedback Style End**/

/**Team  Style Begin**/
 .team-area{
   min-width: 980px;
	background: #FBFBFB;
	 min-width:980px;
	 height:300px;
	 border-top: 1px solid 	#E1E1E1;   
 }
 
 .team-area .team-title {
   width: 100%;
   height:28px;
   line-height:28px;
   font-size:26px;
   font-weight:400;
   text-align:center;
   color:#666;
   margin-top:50px;
 }
 
  .team-area .team-title a{
     color: #666666;
  }
  
.team-area .team-title a:hover{
    color: #D14836;
   }
   
 .team-area ul.team-list{
       margin:20px auto;
       padding:0px;
       width:980px;
     }
     
.team-area ul.team-list li{
        list-style:none;
        float:left;
        width:25%;
        height:70px;
        line-height:70px;
        text-align:center;
        opacity: 0.6;
      }
 .team-area ul.team-list li div.wait-join-block{
    width:150px;
    height:50px;
    line-height:50px;
    border: 1px dashed #A9A8A8;
    margin:10px auto;
 }
      
 .team-area ul.team-list li:hover{
           opacity: 0.9;
       }
      
  .team-area ul.team-list li img{
        height:50px;
      }
/**Team  Style End**/

/**Page Footer Style End**/             
        .footer-area{
         min-width:980px;
         padding-top:48px;
         height:250px;
         background-color:#F9F9F7;
         box-shadow:#E1E1E1 0px 0px 3px 0px inset
        }
        
         .footer-area .footer{
           width:1000px;
           height:200px;
           position:relative;
           margin:0 auto;
           color:#999999;
         }
         
          .footer-area .footer>div{
           height:100%;
           width:200px;
           margin:0px;
           padding:0px;
         }
         
          .footer-area .footer div.company-logo{
            float:left;
          }
          
         .footer-area .footer .company-logo .logo{
            width:100px;
            height:100px;
            line-height:100px;
            margin:0px auto;
            overflow:hidden;
         }
          .footer-area .footer .company-logo .logo img{
            width:100%;
            height:100%;
          }
         
         .footer-area .footer .company-logo .title{
            width:100%;
            height:25px;
            line-height:25px;
            font-size:20px;
            text-align:center;
         }
         
          .footer-area .footer ul{
          width:350px;
          margin:0px auto;
          padding:0px;
         }
         .footer-area .footer ul li{
           list-style:none;
           width:100%;
           height:20px;
           line-height:20px;
           font-size:15px;
           margin-bottom:19px;
         }
         
         .footer-area .footer ul li img{
           width:22px;
           height:22px;
           margin-right:10px;
         }
         
         .footer-area .footer ul li.right-copy{
           padding-left:22px;
           font-size:12px;
         }
         
           .footer-area .footer div.company-wechat{
             position:absolute;
             right:0px;
             top:-10px;
           }
         
         .footer-area .footer .company-wechat .title{
            width:100%;
            height:20px;
            line-height:20px;
            font-size:16px;
            text-align:center;
         }
         
         .footer-area .footer .company-wechat .qr-code{
            width:120px;
            height:120px;
            margin:10px auto 0px;
            background:url(../images/lygene-wechat.jpg)  no-repeat;
            background-size:120px 120px;
         }
 /**Page Footer Style End**/     

/**User Guide Page Style Begin**/
.user-guide-body .page_navbar .title{
	color: #D84C31;
    left: 0;
    line-height: 59px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 180px;
}

.user-guide-body .page_navbar .title h3{
	display: inline;
    font-size: 23px;
    line-height: 59px;
    margin: 0;
    min-width: 100px;
}

.user-guide-body .page_navbar .title h3 i{
	width:21px;
	height:24px;
	display:inline-block;
	vertical-align:middle;
	text-shadow: 0 2px 0 #FFFFFF, 0 -2px 0 #F2F2EA;
}

.user-guide-body  .content-support-panel{
	 background: none repeat scroll 0 0 #F9F9F7;
}
.user-guide-body  .content-support-panel .content-container{
	margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    padding-top: 15px;
    width: 97%;
}
.user-guide-body  .content-support-panel .content-container:before{
	 content: " ";
    display: table;
}

.user-guide-body  .content-support-panel .content-container:after{
	clear: both;
	 content: " ";
    display: table;
}

.user-guide-body  .content-support-panel .content-container .content{
	 float: right;
    width: 75%;
}

.user-guide-body  .content-support-panel .content-container .content .content-wrapper{
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E1E1E1;
    box-shadow: 0 0 3px #EEEEEE, 0 0 3px #FFFFFF inset;
    min-height: 478px;
    padding: 20px;	
}

.user-guide-body  .content-support-panel .content-container .content .content-wrapper .content-title{
	border-bottom: 1px solid #E1E1E1;
    color: #D84C31;
    font-size: 24px;
    padding-bottom: 10px;
}

.user-guide-body  .content-support-panel .content-container .content .content-wrapper  ul.guide-list{
	margin-top: 20px;
	padding: 0px;
	margin:0px;
}

.user-guide-body  .content-support-panel .content-container .content .content-wrapper  ul.guide-list li{
	list-style:none;
}

.user-guide-body  .content-support-panel .content-container .sidebar{
	 float: left;
    width: 24%;
}

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget{
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E1E1E1;
    box-shadow: 0 0 3px #EEEEEE, 0 0 3px #FFFFFF inset;
    margin-bottom: 15px;
    padding: 15px;	
    color: #666666;
}

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget h4{
	 border-bottom: 1px solid #E1E1E1;
    font-size: 16px;
    margin: 0 0 10px;
    padding-bottom: 10px;
}

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget .input-group{
	 border-collapse: separate;
    display: table;
    position: relative;
}

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget .input-group   .form-control:first-child{
	 border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget .input-group .form-control{
   display: table-cell;
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
    height: 38px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;
    line-height: 1.4285;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget .input-group .input-group-btn{
	 font-size: 0;
    position: relative;
    white-space: nowrap;
     vertical-align: middle;
    width: 1%;
     display: table-cell;
}

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget .input-group .input-group-btn .btn-success{
	 margin-left: -1px;
	border-bottom-left-radius: 0;
    border-top-left-radius: 0;
     position: relative;
     background-color: #5CB85C;
    background-repeat: repeat-x;
    border-color: #3E8F3E;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    padding: 8px 25px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
     color: #FFFFFF;
     cursor: pointer;
    display: inline-block;
    font-size: 14px;
      -moz-user-select: none;
}
.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget  h4{
    font-weight: 500;
    line-height: 1.1;
}

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget ul{
	margin:0px;
	padding:0px;
}

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget ul li{
	list-style:none;
	 padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
}

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget ul li.active a{
	color: #D84C31;
}	

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget ul li a{
	color: #666666;
}

.user-guide-body  .content-support-panel .content-container .sidebar .sidebar-widget ul li a:hover{
	color: #D84C31;
}
/**User Guide Page Style End**/

/**About Us Page Style Begin**/
.about-us-banner-area{
	position:relatvie;
	height:160px;
	width:100%;
	margin-top:-20px;
	background: url("../images/banner_bg3.jpg") no-repeat bottom center;
}

.about-us-banner-area .about-us-banner{
   width:1012px;
   height:100%;
   margin:0 auto;
   position:relatvie;
   color:#FFFFFF !important;
}
.about-us-banner-area .about-us-banner h2{
	float:left;
	margin-top:70px;
}

.about-us-banner-area .about-us-banner h3{
	float:right;
	margin-top:100px;
	font-size:21px;
}

.about-body{
	width:100%;
	position:relative;
}

.about-body .about-mission{
	margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
     width:1012px;
}

.about-body .about-mission p{
	 color: #999999;
    font-size: 14px;
}
.about-body .about-mission h4{
	font-size: 25px;
    margin: 20px 0;
}

.about-body .about-mission ol{
	margin:0px;
	padding:0px;
}

.about-body .about-mission ol:before{
	content:" ";
    display: table;
}

.about-body .about-mission ol:after{
    clear:both;
	content:" ";
    display: table;
}

.about-body .about-mission ol li{
	 font-size: 19px;
    line-height: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
    list-style:none;
}

.about-body .about-mission ol li span{
    border: 3px solid #DCD8CD;
    border-radius: 50%;
    color: #DCD8CD;
    display: block;
    float: left;
    font-size: 22px;
    font-weight: normal;
    height: 40px;
    line-height: 35px;
    margin-right: 15px;
    overflow: hidden;
    text-align: center;
    width: 40px;	
}

/**About Us Page Style End**/

/**Gene Browser Page Style Begin**/

.gene-browser-icon{
	margin:-6px 5px 0 0;
}

.gene-browser-search-result{
	margin-top:20px;
}

.gene-model-dialog{
	width:80%;
}

.gene-model-dialog table{
	table-layout:fixed;
	word-break: break-all;
    word-wrap: break-word;
}

.gene-model-dialog .gene-seq-content{
	font-size:12px;
}

.gene-browser-sidebar .advanced-search-wrapper{
	width:100%;
}

.gene-browser-sidebar .advanced-search-wrapper >a{
	display:block;
	float:right;
	margin:10px 3px 0 0;
}

.gene-advanced-search-modal{
	width:598px !important;
}

.gene-advanced-search-modal .modal-body>h5{
	font-size:15px;
	margin-top:0px;
	margin-bottom:20px;
}

.gene-advanced-search-modal .modal-footer{
	margin-top:0px !important;
}

.gene-advanced-search-modal .gene-advanced-search-form-row{
	width:100%;
	margin-bottom:10px;
}

.gene-advanced-search-modal .gene-advanced-search-form-row div.filter-group, .gene-advanced-search-form-row div.input-field{
	float:left;
	width:200px !important;
	margin-right:5px;
}

.gene-advanced-search-modal .gene-advanced-search-form-row div.filter-group>.btn:first-child,.gene-advanced-search-form-row div.filter-group>ul{
	width:174px !important;
}

.gene-advanced-search-modal .gene-advanced-search-form-row div.logical-group{
	float:left;
	width:100px !important;
	margin-right:5px;
}

.gene-advanced-search-modal .gene-advanced-search-form-row div.logical-group>.btn:first-child,.gene-advanced-search-form-row div.logical-group>ul{
	width:74px !important;
}

.gene-advanced-search-modal .gene-advanced-search-form-row .delete-btn{
	display:block;
	float:left;
}

.gene-advanced-search-modal .add-btn{
	display:block;
	float:left;
	margin-right:63px;
}
.gene-advanced-search-modal .add-filed-icon a{
	display:block;
	width:30px;
	height:30px;
	margin:0 auto;
}

.gene-advanced-search-modal .add-filed-icon a img{
	width:100%;
	height: 100%;
}

/**Gene Browser Page Style End**/


/**Price Plan Page Style Begin**/
.price-plan-banner-wrapper{
	position:relatvie;
	height:160px;
	width:100%;
	margin-top:-20px;
	background: url("../images/price-plan-banner.png")  no-repeat scroll center center #C6C3BE;
}

.price-plan-banner-wrapper .price-plan-banner{
   width:1012px;
   height:100%;
   margin:0 auto;
   position:relatvie;
}
.price-plan-banner-wrapper .price-plan-banner h2{
	float:left;
	margin-top:50px;
}

.price-plan-banner-wrapper .price-plan-banner h3{
	float:right;
	margin-top:83px;
	font-size:21px;
	color:#888888;
}

.price-title, .price-desc{
		text-align:center;
		width:100%;
}

.price-title{
	font-size:24px;
	font-weight:300;
	color:#2D3B47;
}
.price-desc{
	font-size:15px;
	color:#818A92;
	margin-bottom:5px;
}

.price-wrapper{
	width:100%;
	margin-top:-20px;
	padding: 40px 0px;
}

.price-block-wrapper{
	width:1044px;
	margin:25px auto;
}

.price-block-wrapper .price-block-gap{
     width:50px;
     height:100px;
     float:left;
}

.price-block-wrapper .price-block{
	float:left;
	width:300px;
	height:300px;
	border-radius: 6px;
	border:1px solid #E1E1E1;
	box-shadow: 0 0 3px #EEEEEE, 0 0 3px #FFFFFF inset;
}

.price-block-wrapper .price-block  .type{
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-top: 0;
    text-align: center;
    background-color: #EBEBEB;
    color: #282C2F;
    font-size: 20px;
    font-weight: 500;
}

.price-block-wrapper .price-block .price-infor{
	width:100%;
	height:100px;
	line-height:100px;
}

.price-block-wrapper .price-block .price-infor .plan{
	width:100%;
	font-size:28px;
	color:#336077;
	text-align:center;
}

.price-block-wrapper .price-block .price-infor .plan small{
	font-size:19px;
}

.price-block-wrapper .price-block .separate-line{
	width:90%;
	margin:0 auto 20px;
	border-bottom: 1px solid #E1E1E1;
}

.price-block-wrapper .price-block .price-opera{
	width:100%;
	text-align:center;
}

.price-block-wrapper .price-block .price-opera a{
	width:250px;
}

.payment-way-wrapper{
	width:100%;
	height:290px;
	border-top: 1px solid 	#E1E1E1;
	border-bottom: 1px solid 	#E1E1E1;
	background-color:#F4F4F4;
	padding-top:20px;
}

.payment-way-wrapper ul.payment-item-list>li p, .con-service-wrapper ul li p{
	font-size:15px;
	color:#888888;
	margin-left:70px;
}

.payment-way-wrapper .title{
	width:800px;
	margin:0px auto 10px;
	text-align:center;
}

.payment-way-wrapper ul.payment-item-list{
	width:850px;
	margin:0 auto;
	padding:0px;
}

.payment-way-wrapper ul.payment-item-list>li{
	list-style:none;
	width:100%;
	height: 100px;
}

.payment-way-wrapper ul.payment-item-list>li i.icon{
	display:block;
	float:left;
	width:60px;
	height:53px;
	margin:10px 10px 30px 0px;
}

.con-service-wrapper{
	width:100%;
	padding:40px 0px 20px;
	background-color:#FBFBFB;
}

.con-service-wrapper .title{
	width:100%;
	margin:0px auto;
	text-align:center;
}

.con-service-wrapper ul{
	width:900px;
	margin:0px auto;
	padding:0px;
}

.con-service-wrapper ul li{
	list-style:none;
	float:left;
	width:400px;
	margin-top:30px;
}

.con-service-wrapper ul li.left-item{
	margin-left:35px;
	margin-right:45px;
}

.con-service-wrapper ul li span{
    border: 3px solid #DCD8CD;
    border-radius: 50%;
    color: #DCD8CD;
    display: block;
    float: left;
    font-size: 22px;
    font-weight: normal;
    width: 40px;
    height: 40px;
    line-height: 35px;
    margin-right: 30px;
    overflow: hidden;
    text-align: center;
}
/**Price Plan Page Style End**/