.service-right-panel {
	bottom:50px !important;
}
#descPanel  >ul.nav-tabs , #descPanel .opera-area{
	position: fixed;
	z-index: 100;
}

#descPanel  >ul.nav-tabs {
	top: 117px;
	left:306px;
	right:18px;
	padding-top: 10px;
	background: none repeat scroll 0% 0% #FFF;
}

#descPanel  .tab-pane-with-opera-area{
	margin-top:90px;
}

#descPanel .opera-area{
	top:169px;
	left:306px;
	right:18px;
	height:44px;
	padding-top:8px;
	background:#fff;
}

#descPanel  .opera-area >button{
	float:right;
}

#descPanel  >form{
	margin-top:52px;
}
.checkbox-area{
	width:100%;
	border-top: 1px dashed #d3cece;
	padding-top:8px;
}

.checkbox-area div.checkbox-c{
	float:left;
	margin-right:10px;
}

/**Service Creation  Area Style Begin**/
.service-creation-area .tab-content{
	padding-top:10px;
	padding-bottom:50px;
	min-height:235px;
}

.service-creation-area .tab-content>div{
	width: 100%;
}

.service-page-bottom-area{
	 border-top: 1px solid #E1E1E1;
	 border-bottom:none !important;
	 box-shadow: 0 0 3px #EEEEEE, inset 0 0 3px #FFFFFF ;
	 height: 50px !important;
}

.service-page-bottom-area .page-navbar-warp{
   height: 50px !important;
   padding-top:8px;
   position:relative;
}

 .service-page-bottom-area .btn{
	float:right;
}
/**Service Creation  Area Style End**/

 .ssr-order-setting-status-panel .panel-body ul{
  margin:0px;
  padding:0px;
 }
 
  .ssr-order-setting-status-panel .panel-body ul li{
  list-style:none;
  height:21px;
  line-height:21px;
  }
  
    .ssr-order-setting-status-panel .panel-body ul li input{
      margin: 0px  15px 0px 0px;
    }
    
    
/**RNA Style Begin**/
.rna-content .btn-danger, 
.rna-content .btn-danger:hover, 
.rna-content .btn-danger:active, 
.rna-content .btn-danger:focus,
.rna-content .open .dropdown-toggle.btn-danger,
.rna-file-type-danger{
	background-color: #f3cfce;
    border-color: #f3cfce;
    color: #8A6D3B;
}

.rna-content .tab-pane{
	position:relative;
}

#rna-group-name-dialog .custom-horizontal-form-group{
	margin-bottom:10px;
}
#rna-group-name-dialog .form-control{
	width:78%;
}
#rna-group-name-dialog .modal-footer{
	margin-top:0px;
}

#rna-data-dyna-body{
	width:100%;
}

#rna-group-assem-body{
	margin-top:35px;
}

.group-assem-panel .panel-body{
	padding-bottom:8px;
}

.group-assem-panel .check-box-area{
	margin-top:-22px;
	padding-left:20px;
}

.rna-file-table{
	table-layout:fixed;
    word-break: break-all; 
    word-wrap: break-word;
}

.rna-file-table td{
	vertical-align:middle !important;
}

.rna-file-table .type-col,
.rna-seq-file-table .type-col{
	width:210px;
}

.rna-file-table .name-col,
.rna-seq-file-table  .name-col{
	width:30%;
}

/* .rna-file-table  .size-col{
	width:20%;
}

.rna-file-table  .source-col{
	width:20%;
} */

.rna-file-table .oper-col{
	width:10%;
}

.rna-label-btn{
	width:158px;
	text-align:left;
}

.rna-file-type{
	min-width:136px;
	height:30px;
	line-height:30px;
}

.rna-file-type-danger{
    padding:0 10px;
}


#rna-group-assem-body{
	widh:100%;
}

.rna-compa-tabs-left{
	position:absolute;
	width:100%;
	top:0px;
}

.rna-compa-tabs-left >ul.nav-tabs{
	position:fixed;
	top:218px;
	left:306px;
}

.rna-compa-tabs-left  >div.tab-content{
	position:absolute;
	top:0px;
	right:0px;
	left:102px;
	margin-left:0px !important;
}

.compa-type-area {
	margin-bottom:20px;
	padding-left:1%;
}

.compa-type-area .checkbox-c{
	float:left;
	margin-right:10px;
}

.compa-body{
	padding: 25px 0;
}


.compa-body .close{
	position:absolute;
	top:5px;
	right:10px;
	z-index:10;
}

.compa-body  .compa-title-area{
	position:absolute;
	top:5px;
	left:20px;
	width:778px;
}

.compa-body  .compa-title-area > h4{
	font-size:22px;
	font-weight:bold;
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.compa-body  .compa-block{
	margin-top:15px;
}

.compa-block-area{
	width:100%;
	margin:0px auto 20px auto;
	position:relative;
}

.compa-block-disabled{
	background:#C5C5BE !important;
	cursor:not-allowed;
}

.compa-block{
	position:relative;
	width:45%;
	float:left;
	margin-left:3%;
	padding:10px 20px;
/* 	background:#ECF0F5; */
	background:#F9F9F7;
	border-radius: 5px;
	border: 1px solid #E1E1E1;
	box-shadow: 0px 0px 3px #EEE, 0px 0px 3px #FFF inset;
	
}

 .compa-block .title, .compa-block .file-info, .compa-block .tip-info, .panel-body .tip-info{
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.compa-block .title{
	font-weight: bold;
    font-size: 22px;
    margin-top:15px;
    margin-bottom: 17px;
}

 .compa-block .file-info-area{
	margin-bottom:30px;
}

.compa-block .file-info-area .file-info{
	width:100%;
	height:20px;
	line-height:20px;
	font-size:16px;
	margin-bottom:10px;
}

.compa-block .seq-file-dropdown-area{
	margin-top:-22px;
	margin-bottom:30px;
	height:32px;
	line-height:32px;
	display:none;
}

.compa-block .seq-file-dropdown-area  div.btn-group{
	float:left;
	margin:0px 5px;
}

.compa-block .seq-file-dropdown-area  span.file-type-icon,
.compa-block .seq-file-dropdown-area span.remove-seq-file-btn{
	display:block;
	float:left;
	margin-top:6px;
}

.compa-block .seq-file-dropdown-area span.remove-seq-file-btn{
	cursor:pointer;
}

.compa-block .seq-file-dropdown-area div.rna-file-type{
	margin-top:-26px;
	font-size:16px;
}

.compa-block .seq-file-dropdown-area div.rna-file-type span{
	margin-right:4px;
}

.compa-block .seq-file-add-area{
	position:absolute;
	right:10px;
	bottom:10px;
	width:110px;
	cursor:pointer;
	display:none;
}

.compa-block .seq-file-add-area span{
	margin-right:5px;
}


.compa-block .tip-info, 
.panel-body .tip-info{
	display:none;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	line-height:20px;
	font-size:16px;
	padding:5px 10px;
	background-color:#F5F5F5;
}

.rna-drop-drag-modal{
	width:50%;
}
.rna-drop-drag-modal .compa-type-area {
	font-size:16px;
	margin-bottom:10px;
	padding-left:0px;
}

.rna-drop-drag-modal  .checkbox-c{
	width:auto!important;
	font-size:18px;
}

.rna-drop-drag-modal .left-group-area{
	margin-right:10%;
}

.rna-drop-drag-modal .left-group-area .selected-area{
		min-height:360px !important;
}

.rna-drop-drag-modal .right-group-area .selected-area{
		min-height:350px !important;
}

.rna-drop-drag-modal  .group-area{
	float:left;
	width:45% !important;
}


.rna-drop-drag-modal  .group-area> h4{
	margin-bottom:15px;
	padding-left:0px;
}

.rna-drop-drag-modal  .group-area .selected-area{
	float:left;
	width:100%;
	padding: 10px;
	border: 2px dashed #E1E1E1;
	box-shadow: 0px 0px 3px #EEE, 0px 0px 3px #FFF inset;

}

.rna-drop-drag-modal  .group-area .compa-block{
	margin-bottom:10px;
/* 	width:100% !important; */
    width:100% ;
	margin-left:0px !important;
}
/**RNA Style End**/